/* navbar */


nav{
  background-color: #3e54ac;
}
.social-media> a > svg{
  width: 25px;
  height: 25px;
}
.color-navy{
  color: #FFF !important
}
.social-media > a > svg > path{
  fill: #fff;
  transition: 0.5s ease-in-out;
}
.social-media > a > svg:hover path{
  fill:#dfdfdf
}
.nav-link{
  transition: 0.5s ease-in-out
}
.nav-link:hover{
  color: #dfdfdf;
}
.isfixed{
  width: 100%;
  left: 0;
  top: 0;
  animation: slow;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  z-index: 4;
  position: fixed;
  filter: blur(0.9);
  opacity: 0.95;
}

@keyframes slow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.95;
  }
}

/*  

button

*/
.button {
  border: none;
  padding: 20px 10px;
  font-size: 20px;
  position: relative;
  text-align: center;
  background: transparent;
  color: #3e54ac;
  text-transform: uppercase;
  border: 3px solid #3e54ac;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  opacity: 0.95;
}
form > .button{
  height: 50px;
  padding: 8px 0;
}
.button:hover {
  color: #fff;
}
span {
  transition: all 0.7s;
  z-index: -1;
}

.button .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #3e54ac;
}

.button:hover .first {
  top: 0;
  right: 0;
}
.button .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #3e54ac;
}

.button:hover .second {
  top: 0;
  left: 50%;
}

.button .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #3e54ac;
}

.button:hover .third {
  top: 0;
  left: 25%;
}

.button .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #3e54ac;
}

.button:hover .fourth {
  top: 0;
  left: 0;
}


/* h2 */
h2 > span {
  text-transform:uppercase;
}

/* footer */


footer{
  height: 81px;
  background-color: #3e54ac;
  opacity: 0.95;
}