/* navbar */
.social-media> a > svg{
  width: 25px;
  height: 25px;
}
.social-media > a > svg > path{
  fill:#cbd5e1;
  transition: 0.5s ease-in-out;
}
.social-media > a > svg:hover path{
  fill:#fff
}
.nav-link{
  transition: 0.5s ease-in-out
}
.nav-link:hover{
  color: #fff;
}
.isfixed{
  width: 100%;
  left: 0;
  top: 0;
  animation: slow;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  z-index: 4;
  position: fixed;
  filter: blur(0.9);
  opacity: 0.95;
}

@keyframes slow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.95;
  }
}
