@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
.color-navy{
  color: #1e2039;
}
.bg-navy{
  background-color: #1e2039;
}
.container{
  margin: 0 auto;
  overflow-x: hidden;
}
nav > .container{
  overflow: unset;
}
@media (max-width:768px){
  .container{
    padding:0 10px !important ;
  }
}
.bg-grey{
  background-color: #cbd5e1;
}
.overlay{
  width: 50%;
  height: 100%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  /* background-color: #dfdfdf; */
  background-color: #ecf2ff;
  top: 0;
  right: 0;
  z-index: -1;
  /* opacity: 0.2; */
}
.overlay-btm{
  width: 50%;
  height: 100%;
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  /* background-color: #dfdfdf; */
  background-color: #ecf2ff;
  top: 0;
  left: 0;
  z-index: -1;
  /* opacity: 0.2; */
}