/* rocket animation */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.draw-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  top: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #283E51, #0A2342);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #283E51, #0A2342); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283E51, #0A2342); 
  /* background-image: linear-gradient(
    to bottom,
    #b4b2b3,
    #b4b2b3 70%,
    #b4b2b3 71%,
    #ededed
  ); */
  /* background-color: #222; */
}
.draw-container.display-hidden{
  height: 0;
  filter: opacity(0.1);
}

.draw-container .draw {
  height: 600px;
  width: 450px;
  position: relative;
}

/* Rocket */
.draw-container .rocket {
  position: absolute;
  height: 180px;
  width: 80px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50% 50% 25% 25% / 50% 50% 40% 40%;
  background-color: #dadada;
  box-shadow: 0 -3px 0 #FFF;
  transform-style: preserve-3d;
  z-index: 2;
  animation: animateRocket 1s linear alternate infinite;
}
.draw-container .rocket.launch{
  animation : launchRocket 2s linear alternate ;
}
.draw-container .rocket:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* .draw-container .rocket::before {
  width: 55%;
  height: 10px;
  background-color: #d43e07;
  bottom: -10px;
  border-radius: 0% 0% 25% 25% / 50% 50% 40% 40%;
} */

.rocket::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 32px;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, .9) );
}
.tail{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: 10px;
  background-color: #d43e07;
  bottom: -10px;
  border-radius: 0% 0% 25% 25% / 50% 50% 40% 40%;
}
.draw-container .rocket:after {
  height: 55px;
  width: 155%;
  background-color: #9e554f;
  bottom: 0;
  z-index: -10;
  transform: translateX(-50%) translateZ(-1px);
  border-radius: 50% 50% 10% 10% / 90% 90% 20% 20%;
}
.draw-container .rocket .window {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #9e554f;
  box-sizing: initial;
  border: 5px solid #adadad;
}

@keyframes animateRocket {
  to {
    transform: translateX(-50%) translateY(3px);
  }
}
@keyframes launchRocket{
  to{
    transform: translateX(-50%) translateY(-500px);
  }
}


/* Smoke */
.draw-container .smoke {
  height: 200px;
  width: 32px;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to bottom, 
    rgba(255, 255, 255, .1), 
    rgba(255, 255, 255, .9)
  );
}
.draw-container .smoke > div {
  position: absolute;
  border-radius: 50%;
}
.draw-container .smoke .one {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, .4);
  top: 80px;
  left: -180px;
  box-shadow: 
     -50px 80px 0 -30px rgba(255, 255, 255, .4),
     160px 80px 0 0px rgba(255, 255, 255, .4),
     290px 80px 0 -50px rgba(255, 255, 255, .4);
  animation: animateSmoke 3s linear alternate infinite;
  opacity: .9;
}
.draw-container .smoke .two {
  height: 210px;
  width: 210px;
  top: 120px;
  left: -90px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 
     -90px 0px 0 -40px rgba(255, 255, 255, 1),
     90px 60px 0 -80px rgba(255, 255, 255, 1),
     80px -40px 0 -50px rgba(255, 255, 255, 1);
  animation: animateSmoke 1s linear alternate-reverse infinite;
  opacity: 1;
}

@keyframes animateSmoke {
  to {
    opacity: 1;
    transform: scale(.98) translate(1px);
  }
}

/* Stars */
.draw-container .stars {
  top: 150px;
}
.draw-container .stars .star,
.draw-container .stars .star:before {
  position: absolute;
  background-color: #FFF;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  box-shadow: 0 0 7px rgba(255, 255, 255, .5);
}
.draw-container .stars .star {
  height: 15px;
  width: 2px;
}
.draw-container .stars .star:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}
.draw-container .stars .star.small {
  height: 10px;
  width: 1px;
}
.draw-container .stars .star.one {
  top: 10%;
  left: 10%;
}
.draw-container .stars .star.two {
  top: 40%;
  height: 10px;
}
.draw-container .stars .star.three {
  top: 50%;
  left: 50%;
}
.draw-container .stars .star.four {
  top: 57%;
  left: 70%;
}
.draw-container .stars .star.five {
  top: 25%;
  left: 70%;
}
.draw-container .stars .star.six {
  top: 15%;
  left: 110%;
}
.draw-container .stars .star.seven {
  top: 60%;
  left: 120%;
}
.draw-container .stars .star.eight {
  top: 75%;
  left: -10%;
}

/* button star */
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-cloud {
  /* min-width: 150px; */
  display: block;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px 20px;
  }

button-cloud::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button-cloud:hover, .button-cloud:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button-cloud:hover::before, .button-cloud:focus::before {
  opacity: 1;
}

.button-cloud::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button-cloud:hover::after, .button-cloud:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


/* end */
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 400px 400px;
  border-radius: 80% 20% 32% 68% / 58% 22% 78% 42%;
  box-shadow :15px 15px 50px rgba(0,0,0,0.2);
  height: 400px;
  width: 400px;
  background-image: url("../public/ayushb.jpg");
  animation: morphing 15s infinite;
  overflow: hidden;
}
.image-holder {
  min-height: 350px;
  margin: 20px;
}
@keyframes morphing {
  0% {
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow :15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius :58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius :50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow :-10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius :33% 67% 58% 42% / 63% 68% 32% 37%;		
  }
  100%{
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow :15px 15px 50px rgba(0,0,0,0.2);
  }
}
@media(max-width:768px){
  .image{
    height: 250px;
    width: 250px;
    background-size: 250px 250px;
  }
  .image-holder{
    height: 250px;
  }
}
.wave {
  animation: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: fit-content;
  display: inline-block;
  transition: 2s;
  transform-origin: bottom right;
  /* mix-blend-mode: unset !important; */
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
  }
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 70px;
  opacity: 0.3;
  clip-path: polygon(0 0, 85% 0%, 77% 100%, 0% 100%);
}
.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 70px;
  opacity: 0.3;
  clip-path: polygon(0 0, 85% 0%, 77% 100%, 0% 100%);
  transform: rotate(180deg);
}
.description{
  /* min-height: calc(100vh - 81px); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.description > .container {
  /* padding: 70px 0; */
}
.navy {
  height: 150px;
  opacity: 0.3;
}


/* skill */


.skill {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px ;
  transition: 0.3s linear;
}
.skill > svg {
  width: 100px;
  height: 100px;
}
.skill > svg > path {
  /* fill: #234E70; */
  opacity: 0.95;
}

.skills:hover > * {
  filter: blur(2px);
}

.skills:hover > *:hover {
  transform: scale(1.1);
  filter: blur(0);
}
.aside > svg > path {
  fill:#234E70;
}
.aside {
  width: 15%;
  height: 150px;
}
.rotate > svg {
  animation: rotate;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.triangle-top {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  width: 100%;
  position: absolute;
  margin-top: -1px;
  height: 50px;
}
.triangle-bottom{
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-color: #cbd5e1;
}
.skill:nth-of-type(4) > svg{
  width: unset;
  height: unset;
}
.skill:nth-of-type(6) > svg{
  width: 50%;
  height: 50%;
}
@media(max-width:768px){
  .triangle-bottom{
    height: 150px;
  }
  .skill > svg{
    height: 60px;
  }
}
h2:not(.description > * > * > * > h2 , .no-underline){
  text-decoration: underline;
}

/* Service */

.service{
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #234E70;
  opacity: 0.95;
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.service:hover > .hexagon{
  transform: scale(1.1);
}
.service >.hexagon > svg{
  width: 50px;
  height: 50px;
}
.service > .hexagon > svg > path{
  fill: #fff;
}


/* Blog */

.section-blogs{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-blogs-blog{
  display: block;
  transition: 0.3s linear;
}
.section-blogs > a{
  display: block;
  position: relative;
  z-index: 3;

}
.section-blogs .blog , .blog{
  border : 5px solid;
  display: block;
  border-image: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)20;

}

#css > * >path {
  fill: #fff;
}

/* .blog > div{
  position: absolute;
  inset: 0;
  min-height: 200px;
} */


@media (max-width:992px) {
  .rotate > svg {
    animation: none;
  }
}
